// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui-pro/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";
// .DayPicker {
//   background: rgb(247, 13, 13);
// }
// .DayPicker_portal__horizontal {
//   background-color: #2b2c30;
//   color: #2b2c30;
// }

.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #321fdb;
  font-size: 12px;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

input.form-control[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}
.custom-select.is-valid,.custom-select.is-invalid {
  background:#30343c;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  // animate: 0.2s;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #4e40cf;
  // border-radius: 5px;
  // border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2b2c30;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
// input[type=range]:focus::-webkit-slider-runnable-track {
//   background: #367ebd;
// }
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  // animate: 0.2s;
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // background: #3071a9;
  border-radius: 1.3px;
  // border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  // border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2b2c30;
  cursor: pointer;
}

  /* CSS is missing in your code  */
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  // animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #4e40cf;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #4e40cf;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #2b2c30;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #4e40cf;
}
input[type=range]:focus::-ms-fill-upper {
  background: #4e40cf;
}